@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Search for a Burger";
}

<h2>Search for a Burger</h2>

@using (Html.BeginForm("SearchBurger", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Enter burger type:")
        @Html.TextBox("input", null, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

}


